doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src="/javascripts/bundle.js")
    script(src="/javascripts/script.js")
    block content
